<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <!--<link rel="stylesheet" href="css/icon-font.css">-->

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script> -->

    <title>Risk averse invest | Coding Bootcamp 2020</title>
</head>

<body>
    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#objective" class="navigation__link"><span>01</span>Objective</a>
                </li>

                <li class="navigation__item"><a href="#dashboards"
                        class="navigation__link"><span>02</span>Dashboards</a></li>
                <li class="navigation__item"><a href="#sector" class="navigation__link"><span>03</span>Sectors and
                        Industries</a></li>
                <li class="navigation__item"><a href="#quantopian"
                        class="navigation__link"><span>04</span>Quantopian</a></li>

                <li class="navigation__item"><a href="#ml" class="navigation__link"><span>05</span>Machine Learning</a>
                </li>
            </ul>
        </nav>
    </div>

    <header class="header">
        <div class="header__logo-box">
            <img src="/static/img/mercado.svg" alt="Logo" class="header__logo">
        </div>

        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">Risk averse investment</span>
                <span class="heading-primary--sub">Buy low, sell high</span>
            </h1>

            <a href="#" class="btn btn--white btn--animated">NASDAQ</a>
        </div>
    </header>

    <main>
        <section class="section-stories" id="objective">
            <div class="bg-video">
                <video class="bg-video__content" autoplay muted loop>
                    <source src="/static/img/video.mp4" type="video/mp4">
                    <source src="/static/img/video.webm" type="video/webm">
                    Your browser is not supported!
                </video>
            </div>

            <div class="u-center-text u-margin-bottom-big">
                <h2 class="heading-secondary">
                    Objective
                </h2>
            </div>

            <div class="row">
                <div class="story">
                    <figure class="story__shape">
                        <img src="/static/img/nat-8.jpg" alt="Person on a tour" class="story__img">
                        <figcaption class="story__caption">Quantopian</figcaption>
                    </figure>
                    <div class="story__text">
                        <h3 class="heading-tertiary u-margin-bottom-small">Quantopian</h3>
                        <p>
                            We chose this platform for its incredible libraries and data base regarding financial data 
                            and we use them to confirm the correlation between QQQ (ETF) and the NASDAQ index. 
                            In the end we created an algorithm which could mimic their behavior.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="story">
                    <figure class="story__shape">
                        <img src="/static/img/nat-9.jpg" alt="Person on a tour" class="story__img">
                        <figcaption class="story__caption">Machine Learning</figcaption>
                    </figure>
                    <div class="story__text">
                        <h3 class="heading-tertiary u-margin-bottom-small">Machine Learning</h3>
                        <p>
                            Create an algorithm using 3 models of machine learning (linear,quadratic regression and KNN) 
                            which can predict the returns of an investment and the price of a stock given a specific window of time.
                        </p>
                    </div>
                </div>
            </div>


        </section>

        <section class="section-about" id="dashboards">
            <div class="u-center-text u-margin-bottom-big">
                <h2 class="heading-secondary">
                    Dashboards </h2>
            </div>

            <div class="row">
                <div class='tableauPlaceholder' id='viz1599176636461' style='position: relative'><noscript><a
                            href='#'><img alt=' '
                                src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;St&#47;StockMarketNASDAQ&#47;DashboardPriceTrack&#47;1_rss.png'
                                style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                        <param name='embed_code_version' value='3' />
                        <param name='site_root' value='' />
                        <param name='name' value='StockMarketNASDAQ&#47;DashboardPriceTrack' />
                        <param name='tabs' value='no' />
                        <param name='toolbar' value='yes' />
                        <param name='static_image'
                            value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;St&#47;StockMarketNASDAQ&#47;DashboardPriceTrack&#47;1.png' />
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                        <param name='language' value='es' /></object></div>
                <script
                    type='text/javascript'>                    var divElement = document.getElementById('viz1599176636461'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '927px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
                <hr>
                <div class='tableauPlaceholder' id='viz1599176821912' style='position: relative'><noscript><a
                            href='#'><img alt=' '
                                src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;St&#47;StockMarketNASDAQ&#47;DashboardVolume&#47;1_rss.png'
                                style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                        <param name='embed_code_version' value='3' />
                        <param name='site_root' value='' />
                        <param name='name' value='StockMarketNASDAQ&#47;DashboardVolume' />
                        <param name='tabs' value='no' />
                        <param name='toolbar' value='yes' />
                        <param name='static_image'
                            value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;St&#47;StockMarketNASDAQ&#47;DashboardVolume&#47;1.png' />
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                        <param name='language' value='es' /></object></div>
                <script
                    type='text/javascript'>                    var divElement = document.getElementById('viz1599176821912'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '1327px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
                <hr>
                <div class='tableauPlaceholder' id='viz1599177135380' style='position: relative'><noscript><a
                            href='#'><img alt=' '
                                src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;MJ&#47;MJXZB5JZ5&#47;1_rss.png'
                                style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                        <param name='embed_code_version' value='3' />
                        <param name='path' value='shared&#47;MJXZB5JZ5' />
                        <param name='toolbar' value='yes' />
                        <param name='static_image'
                            value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;MJ&#47;MJXZB5JZ5&#47;1.png' />
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                        <param name='language' value='es' /></object></div>
                <script
                    type='text/javascript'>                    var divElement = document.getElementById('viz1599177135380'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '1727px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
                <hr>
                <div class='tableauPlaceholder' id='viz1599177365109' style='position: relative'><noscript><a
                            href='#'><img alt=' '
                                src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;NA&#47;NASDAQFinancialsFiscalDate2019-2020&#47;DashboardFinancials2&#47;1_rss.png'
                                style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                        <param name='embed_code_version' value='3' />
                        <param name='site_root' value='' />
                        <param name='name' value='NASDAQFinancialsFiscalDate2019-2020&#47;DashboardFinancials2' />
                        <param name='tabs' value='no' />
                        <param name='toolbar' value='yes' />
                        <param name='static_image'
                            value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;NA&#47;NASDAQFinancialsFiscalDate2019-2020&#47;DashboardFinancials2&#47;1.png' />
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                        <param name='language' value='es' /></object></div>
                <script
                    type='text/javascript'>                    var divElement = document.getElementById('viz1599177365109'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '1727px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
           
            </div>
        </section>
        <!-- <section class="section-book" id="sector">
            <div class="row">
                <div class="u-center-text u-margin-bottom-big">
                    <h2 class="heading-secondary">
                        Sectors and Industries
                    </h2>
                </div>
                <div class="container">

                    <div class="form-group">
                        <label for="industry">Count by Sector/Industry</label>
                        <select name="industry" id="industry">
                            <option value="sector">Sector</option>
                            <option value="industry">Industry</option>
                        </select>
                    </div>
                    <div id="modify">

                    </div>

                </div>
           
            </div>

        </section> -->

        <section class="section-features" id="quantopian">

            <div class="row">
                <div class="u-center-text u-margin-bottom-big">
                    <h2 class="heading-secondary">
                        Quantopian
                    </h2>
                </div>

                <img src="/static/img/Quantopian/NASDAQvsQQQ.JPG" alt="" style="width: 800px;" class="center">
                <br>
                <div style="width: 800px; margin-left: 170px;">
                    <p style="color: white; font-size: 20px; text-align:justify;">This chart represents the behavior of 
                        the prices from QQQ and Nasdaq for 5 years previous to its normalization.
                    </p>
                </div>
                <br>
                <img src="/static/img/Quantopian/NASDAQvsQQQSpread.JPG" alt="" style="width: 800px;" class="center">
                <br>
                <div style="width: 800px; margin-left: 170px;">
                    <p style="color: white; font-size: 20px; text-align:justify;">This chart is part of the process
                        to make an informed decision regarding the buy/sell of the stock.</p>
                </div>
                <br>
                <img src="/static/img/Quantopian/NASDAQvsQQQNormalizedSpread.JPG" alt="" style="width: 800px;"
                    class="center">
                <br>
                <div style="width: 800px; margin-left: 170px;">
                    <p style="color: white; font-size: 20px; text-align:justify;">In this chart we can appreciate that the data has
                        been normalized which is the next step in the process for making an informed decision.</p>
                </div>
                <br>
                <img src="/static/img/Quantopian/NASDAQvsQQQRolling.JPG" alt="" style="width: 800px;" class="center">
                <br>
                <div style="width: 800px; margin-left: 170px;">
                    <p style="color: white; font-size: 20px; text-align:justify;">This chart shows the result of 
                        the whole process we need to go through to make an informed decision on which stock
                         we should buy or sell.</p>
                </div>
                <div class="u-center-text u-margin-bottom-big">
                    <h2 class="heading-secondary">
                        Trading Algorithm
                    </h2>
                </div>
                <img src="/static/img/Quantopian/PTAOverview.JPG" alt="" style="width: 800px;" class="center">
                <img src="/static/img/Quantopian/PipelineTradingAlgorithmNASDAQvsQQQ.JPG" alt="" style="width: 800px;"
                    class="center">
                <br>
                <div style="width: 800px; margin-left: 170px;">
                    <p style="color: white; font-size: 20px; text-align:justify;">This visualization illustrate 
                        the results from the return of your investment given a specific range of time. 
                        Here we compare the Nasdaq index vs the QQQ and it confirms that their correlation is above 99%.</p>
                </div>
                
            </div>
                
        </section>
 
        <section class="section-tours" id="ml">
            <div class="u-center-text u-margin-bottom-big">
                <h2 class="heading-secondary">
                    ML Algorithm
                </h2>
            </div>

            <div class="row">
                <img src="/static/img/MovingAverage.png" alt="" style="width: 800px;" class="center">
                <br>
                <div style="width: 800px; margin-left: 170px;">
                    <p style="color: #223843; font-size: 20px; text-align:justify;">
                        The goal of this visualization is to show the tendency from the prices of the stocks we selected,
                         diminishing data noise.
                    </p>
                </div>
                <br>
                <img src="/static/img/InvestmentReturnCompany.png" alt="" style="width: 800px;" class="center">
                <br>
                <div style="width: 800px; margin-left: 170px;">
                    <p style="color: #223843; font-size: 20px; text-align:justify;">The graph shows the probability 
                        of having a profit or loss in your investment, this case in particular shows
                         the stock chosen from the previous chart.</p>
                </div>
                <br>
                <img src="/static/img/InvestmentReturnCompanies.png" alt="" style="width: 800px;" class="center">
                <br>
                <div style="width: 800px; margin-left: 170px;">
                    <p style="color:#223843; font-size: 20px; text-align:justify;">The visualization represents the correlation 
                        between the return investment from two stock companies which are from the same sector.</p>
                </div>
                <br>
                <img src="/static/img/CorrelationKDECompanies.png" alt="" style="width: 800px;" class="center">
                <br>
                <div style="width: 800px; margin-left: 170px;">
                    <p style="color: #223843; font-size: 20px; text-align:justify;">The matrix shows the distribution and 
                        the tendency of the total data through Kernel Density Estimate from the previously chosen stock companies.</p>
                </div>
                <br>
                <img src="/static/img/CorrelationCompanies.png" alt="" style="width: 800px;" class="center">
                <br>
                <div style="width: 800px; margin-left: 170px;">
                    <p style="color: #223843; font-size: 20px; text-align:justify;">As in the matrix, this visualization 
                        illustrate the positive correlations between the companies chosen.</p>
                </div>
                <br>
                <img src="/static/img/DecisionMatrix.png" alt="" style="width: 800px;" class="center">
                <br>
                <div style="width: 800px; margin-left: 170px;">
                    <p style="color: #223843; font-size: 20px; text-align:justify;">The purpose of this chart is to find
                        companies that maximize the investment returns with the minimum risk. </p>
                </div>
                <br>
                <img src="/static/img/PriceForecasting.png" alt="" style="width: 800px;" class="center">
                <br>
                <div style="width: 800px; margin-left: 170px;">
                    <p style="color: #223843; font-size: 20px; text-align:justify;">In this chart, you can view the prediction of prices
                        based on the model with highest accuracy rate using a train-test split of 70|30.</p>
                </div>


            </div>

        </section>


    </main>

    <footer class="footer">
        <div class="footer__logo-box">

            <picture class="footer__logo">
                <img src="/static/img/mercado.svg" alt="logo" style="width: 200px;">
         
            </picture>

        </div>
        <div class="row">
            <h2>Repository</h2>
            <div class="col-1-of-2">
                <div class="footer__navigation">
                    <ul class="footer__list">
                        <li class="footer__item"><a href="https://github.com/odindeltoro/Team-project-StockMarket" class="footer__link">GitHub</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-1-of-2">
                <p class="footer__copyright">
                    Copyright &copy; | Data Analytics Bootcamp 2020
                </p>
            </div>
        </div>
    </footer>


    <!--
        <section class="grid-test">
            <div class="row">
                <div class="col-1-of-2">
                    Col 1 of 2
                </div>
                <div class="col-1-of-2">
                    Col 1 of 2
                </div>
            </div>

            <div class="row">
                <div class="col-1-of-3">
                    Col 1 of 3
                </div>
                <div class="col-1-of-3">
                    Col 1 of 3
                </div>
                <div class="col-1-of-3">
                    Col 1 of 3
                </div>
            </div>

            <div class="row">
                <div class="col-1-of-3">
                    Col 1 of 3
                </div>
                <div class="col-2-of-3">
                    Col 2 of 3
                </div>
            </div>

            <div class="row">
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
            </div>

            <div class="row">
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
                <div class="col-2-of-4">
                    Col 2 of 4
                </div>
            </div>

            <div class="row">
                <div class="col-1-of-4">
                    Col 1 of 4
                </div>
                <div class="col-3-of-4">
                    Col 3 of 4
                </div>
            </div>
        </section>
        -->
    <script src="../static/js/logic.js"></script>
</body>

</html>